<?xml version="1.0" encoding="utf-8"?>

<launch>

  <arg name="points_raw" default="/camera/depth/color/points" doc="Input topic with PointCloud2 type msg"/>

  <!-- Run a passthrough filter to down-sample the sensor point cloud.-->
  <node pkg="nodelet" type="nodelet" name="pcl_manager" args="manager" output="screen"/>
  <node pkg="nodelet" type="nodelet" name="voxel_grid" args="load pcl/VoxelGrid pcl_manager" output="screen">
    <remap from="~input" to="$(arg points_raw)"/>
    <remap from="~output" to="/points_downsampled"/>
    <rosparam>
      filter_field_name: z
      filter_limit_min: 0.01
      filter_limit_max: 0.5  <!-- Limit the range of points to forward to 6 meters in viewing direction-->
      filter_limit_negative: False
      leaf_size: 0.01  <!-- Limit the density to 2 cm-->
    </rosparam>
  </node>

</launch>
